.imgPost{
    width:30px;
}

.CardHeader{
    text-align:left;
    color:#363636;
    font-size:15px
}

.CardBody{
    text-align:left;
    color:#ada794;
    font-size:15px;
    background :#363636;

}

.post{
    display: inline-block;
    line-height: normal;
    vertical-align: middle;
}

.allPost{
    overflow-y: scroll;
    height:500px;
}

::-webkit-scrollbar {
    width: 20px;
  }

  ::-webkit-scrollbar {
    width: 20px;
  }
  
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  ::-webkit-scrollbar-thumb {
    background: rgb(63, 58, 58); 
    border-radius: 10px;
  }
  
.text1{
    border:2px solid #9e9d9d;
    background-color: rgb(63, 58, 58);
    width: 430px;
    opacity: .9;
}

textarea{
  width: 430px;
  height: 70px;
  background-color: #9e9d9d;
  border:2px solid rgb(63, 58, 58);
  opacity: .9;
}

 .postbbtn {
  width: 70px;
  background:rgb(63, 58, 58);
  border-radius:5px;
  border:2px solid rgb(63, 58, 58);
  cursor:pointer;
  color: #9e9d9d;
  font-size:15px;
  margin-left: -70px;
  margin-top: 40px;
  position: absolute;
  // float:right;
}