.team{ 
    padding-top: 20px;
    height: 100%;
    background: black;
    color:#9e9d9d;
    .h22{
     padding-left:60px;
     padding-bottom:20px;
    }
  }
  .aboutUs {
      width: 100%;
     padding-bottom: 10px;
    }
  
    .aboutUs2 {
      display: flex;
      justify-content: center;
    }
  
    .aboutUs > div {
      text-align: center;
    }
    