@import url('https://fonts.googleapis.com/css2?family=Trocchi&display=swap');
*{
    margin:0;
    font-family: 'Trocchi', serif;
}
.logo{
    width:60px;
    height: 60px;
}
.header{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    height: 60px;
    background-color: #0f0f0f;
    color:#9e9d9d;
    div{
        display:grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: left;
        h2{
            color:#f5b201;
        }
    }
    ul{
        display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
        li{
            // display: inline-block;
        }
    }

}