.friends{
    margin-top: 50px;
    font-size:20px;
}

.dot {
    border-radius: 50%;
    display: inline-block;
    margin-right: 10px;
    width:30px;
    margin-left: 5px;
  }

  p {
     display: inline-block;
     font-size:17px;

  }

  .FriendDiv{
     width: 300px;
     text-align: left;
     margin-left: 150px;
  }

  .CardHeader{
   text-align:left;
   color:#ffffff;
   font-size:20px
}


