.foot {
  position: relative;
  bottom: 0px;
  height: 450px;
}

.footer {
  padding: 5px;
  position: absolute;
  width: 100%;
  bottom: 0px;
  height: 450px;
  background: url("../../assets/footer.png");
}

.footerUl {
  text-align: center;
  margin-top: 160px;
  padding: 0;

  li {
    list-style: none;
    display: inline-block;
    font-size: 20px;
    padding: 20px;

    a {
      color: #000000;
      text-decoration: none;
    }
  }
}
.discretion {
  position: absolute;
  margin-top: 15%;
  margin-left: 15%;
  width: 25%;
}
.socialMedia {
  position: absolute;
  margin-top: 29%;
  // line-height: 15px;
  margin-left: 7%;
  li {
    list-style: none;
    display: inline-block;
    font-size: 20px;
    padding: 3px;

    a {
      color: #000000;
      text-decoration: none;
    }
  }
}
